<section>
    <div class="container">
        <div class="grid">
            {% for product in collections.all-paintings.products %}
            <div class="product-item">
                <div class="product-image">
                    <img src="{{ product.featured_image | img_url: '300x300', crop: 'center', scale: 2 }}" alt="{{ product.title | escape }}">
                </div>
                <h3>{{ product.title }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</section>