<header>
    <div class="container">

        <i id="mobile-menu-btn" class="fas fa-bars"></i>

        <a class="logo" href="/">
            {{ 'https://cdn.shopify.com/s/files/1/0644/6723/9130/files/annenberglogo.png?v=1660080574' | img_tag: shop.name }}
        </a>
        <form action="/search" method="get" class="search-form right" role="search">
            <input name="q" type="search" id="search-field" placeholder="Search paintings..." value="{{ search.terms | escape }}" />
            <button class="search-btn"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <nav>
        <div class="container">
            {% include 'site-nav' %}
        </div>
    </nav>
</header>

<script>
    $(document).ready(function(){
        $('#mobile-menu-btn').click(function(){
            $('header nav').toggle();
        });
    });
</script>