<header>
    <div class="container">
        <a id="logo" href="/">
            {{ 'logo.png' | asset_url | img_tag: shop.name }}
        </a>
        <form>
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
    </div>
    <nav>
        <div class="container">
            {% include 'site-nav' %}
        </div>
    </nav>
</header>