<header>
    <div class="container">
        <img src="">
        <form>
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
        <nav>
            <ul>
                <li>
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Collections</a>
                    <a href="">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>