<header>
    <div class="container">
        <a class="logo" href="/">
            {{ 'logo.png' | asset_url | img_tag: shop.name }}
        </a>
        <form action="/search" method="get" class="search-form right" role="search">
            <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
            <button><i class="fas fa-search"></i></button>
        </form>
    </div>
    <nav>
        <div class="container">
            {% include 'site-nav' %}
        </div>
    </nav>
</header>