{% if collection == null %}
{% assign collection = collections['all-paintings'] %}
{% endif %}

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for product in collection.products limit: 10 %}
        <div class="swiper-slide">
            <a href="{{ product.url }}"><img src="{{ product.featured_image | img_url: '300x' }}" loading="lazy"></a>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>