<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for product in collections.all-paintings.products %}
        <div class="swiper-slide">
            <img src="{{ product.featured_image | img_url: '300x' }}" loading="lazy">
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>