<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="images/alienchambers.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/autumn.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/animalmagnetism.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/banquet.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/blessedinterlude.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/cliffs.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/crystalgazes.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/gleam.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/eldorado.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/godess.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/emergence.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/godess2.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/enlightenment.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/golden.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/fairyqueen.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/goldendawn.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/fissure.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/goldenhour.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/fountainoflife.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/impervious.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/genesis.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/iwasthen.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/hallucinogen.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/juniper.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/hallucinogenicholiday.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/ladyinred.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/lairofhelene.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/laguna.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/quoththeraven.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/luminous.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/sayiloveyou.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/manzinita.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/shecomestome.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/spring.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/showtime.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/threemadrones.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/theawakening.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/venus.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/thefaries.jpeg" />
        </div>
        <div class="swiper-slide">
            <img src="images/thesentinel.jpg" />
        </div>
        <div class="swiper-slide">
            <img src="images/woodland.jpeg" />
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>