<div class="container">

{% if search.performed %}

{% paginate search.results by 10 %}

<div class="grid">
  {% for item in search.results %}      
  {% render 'product-item' product: item %}
  {% endfor %}
</div>

{% if paginate.pages > 1 %}
{{ paginate | default_pagination }}
{% endif %}

{% endpaginate %}    

{% endif %}  
</div>