<div class="container">
<form action="/search" method="get" role="search">
  <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{ search.terms | escape }}" />
  <input type="submit" value="Search" />
</form>

{% if search.performed %}

{% paginate search.results by 10 %}

<div class="grid">
  {% for item in search.results %}      
  {% render 'product-item' product: item %}
  {% endfor %}
</div>

{% if paginate.pages > 1 %}
{{ paginate | default_pagination }}
{% endif %}

{% endpaginate %}    

{% endif %}  
</div>